<%= render partial: "shared/navigation", locals: { uri: :check_donations } %>

<div class="service-container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 main-container">
      <hr class="service-header-line">
      <div class="clearfix"></div>
      <div class="service-heading">
        <h2 class="heading-wrapper">Neobradjene donacije</h2>
      </div>

      <div class="search-results">
        <div class="list-group">
          <% if @donations.length > 0 %>
            <% @donations.each do |donation| %>
              <a class="list-group-item" data-toggle="modal" href="#donation-modal-<%= donation.id %>">
                <h4 class="list-group-item-heading">
                  <%= donation.date_to_human %> <%= donation.user_name %>
                </h4>
              </a>
            <% end %>
            <% @donations.each do |donation| %>
              <%= render partial: "donation_modal", locals: { donation: donation } %>
            <% end %>
          <% else %>
            <a class="list-group-item no-hover">Nema neobradjenih donacija</a>
          <% end %>
        </div>
      </div>

      <div class="service-label fixed-bottom"></div>
    </div>
  </div>
</div>