<!DOCTYPE html>
<html>
  <head>
    <title>BloodDonation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/notification' %>
    <div class='notifications top-left'></div>
    <%= yield %>
  </body>
</html>
